*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.message-box{
    backdrop-filter: blur(10px);
    justify-items: end;
    align-items: end;
}
input{
    width: 100%;
    min-height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    font-style: oblique;
    outline: none;
    color: #1a041d;
    font-weight: 600;
    margin: 10px 0;
}
input:focus{
    border: 1px solid #1a041d;
}
button{
    min-width: 25%;
    min-height: 40px;
    border: 1px solid #041d0e;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    outline: 1px solid #041d0e;
    background: #fff;
    color: #1a041d;
    cursor: pointer;
    font-weight: 600;
    margin: auto;
}
button:hover{
    background: #1a041d;
    color: #fff;
}
button:active{
    background: #1a041d;
    color: #fff;
}
button:focus{
    outline: none;
}
.chat-border{
    border: 18px solid #1a041d;
    border-radius: 40px;
    padding: 10px;
    height: 80%;
    background-image: url("../../assets/images/pexels-anna-shvets-5325931.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .chat-div{
    backdrop-filter: blur(10px);
    min-width: 50%;
    min-height: 40px;
    border-radius: 5px 60px;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
    color: #041d0e;
    font-weight: 600;
    margin: 10px 0;
    background-color: #e741fdca;
  }
  .text-chat:focus{
    border: 1px solid #1a041d;
  }
  .text-chat{
    font-weight: 800;
    color: #2f0235;
  }
 