<body>
    <div class="container-fluid border row shadow p-2">
        <div class="col ">
            <p class="chat-title text-decoration-underline fs-1">Chat<small>Lee</small></p>
        </div>
        <div class="col px-2 ">
            <h1 class="chat-title text-decoration-underline text-center">Chat<small>Lee</small></h1>
        </div>
        <div class="col ">
            <p class="chat-title text-decoration-underline fs-1 text-end">Chat<small>Lee</small></p>
        </div>
    
    </div>
    <div class="row my-3">
        <div class="col chat border-end">
            <app-chat-one/>
        </div>
        <div class="col chat">
            <app-chat-two/>
        </div>
    </div>
</body>
